html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.shuffle-button {
  background-image: url("./images/bf4e6430-8665-4dd5-8a51-2be39b1d5977.jpg");
  height: 10em;
  width: 7em;
}

ul {
  list-style: none;
}

